{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"ignorePatterns": ["bin/**/*.js", "plugins/minimal-block-no-build-e621a6/**/*.js", "plugins/**/e2e/*.js"],
	"rules": {
		"@wordpress/i18n-text-domain": ["error", {
			"allowedTextDomain": "block-development-examples"
		}],
		"no-console":"off"
	},
	"globals": {
		"jQuery":"readonly",
		"HTMLElement": true
	}
}
