{{^isNon-blockVariant}}
{{#isDynamicVariant}}
<?php
/**
 * The render.php file for this block.
 *
 * @see https://github.com/WordPress/gutenberg/blob/trunk/docs/reference-guides/block-api/block-metadata.md#render
 *
 * @package block-development-examples
 */
?>
<p <?php echo get_block_wrapper_attributes(); ?>>
	<?php esc_html_e( '{{title}} – hello from a dynamic block!', '{{textdomain}}' ); ?>
</p>
{{/isDynamicVariant}}
{{/isNon-blockVariant}}
