<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Preferred Languages Plugin">
	<description>A custom set of code standard rules for Preferred Languages.</description>

	<rule ref="WordPress-Core">
			<exclude name="WordPress.NamingConventions.PrefixAllGlobals" />
	</rule>

	<rule ref="WordPress-Docs">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.Files.FileName">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" value="gutenberg-examples" />
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<properties>
			<property name="customPropertiesWhitelist" type="array">
				<element value="childNodes" />
				<element value="tagName" />
				<element value="textContent" />
				<element value="parentNode" />
				<element value="nodeType" />
				<element value="nodeName" />
				<element value="nextSibling" />
				<element value="previousSibling" />
				<element value="firstChild" />
				<element value="lastChild" />
				<element value="nodeValue" />
				<element value="ownerElement" />
				<element value="documentElement" />
				<element value="removeChild" />
				<element value="ownerDocument" />
				<element value="strictErrorChecking" />
				<element value="preserveWhiteSpace" />
			</property>
		</properties>
	</rule>

	<!-- Make sure we prefix everything in the global namespace. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="gutenberg_interactive" />
		</properties>
	</rule>

	<!-- We only support the latest major WordPress release. -->
	<rule ref="WordPress.WP.DeprecatedFunctions">
		<properties>
			<property name="minimum_supported_version" value="5.8" />
		</properties>
	</rule>

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- File Layout: Declare symbols or run code, but not both. -->
	<rule ref="PSR1.Files.SideEffects" />

	<!-- Prevent false positives for IDE annotations. -->
	<rule ref="Squiz.PHP.CommentedOutCode">
		<properties>
			<property name="maxPercentage" value="75" />
		</properties>
	</rule>

	<!-- Test for PHP 5.2+ compatibility. -->
	<config name="testVersion" value="5.6-"/>

	<exclude-pattern>gutenberg-examples.php</exclude-pattern>
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/tests/*/bootstrap.php</exclude-pattern>
</ruleset>
