/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-03-block-interactive input[type="text"] {
	font-size: 1em;
	color: inherit;
	background: inherit;
	border: 0;
}
